.Order_SelectorBlock
{
    display: block;
    margin-top: 30px;
    margin-left: 15%;
}

.Order_SelectorTitle
{
    float: left;
}

.Order_Selector
{
    float: left;
    margin-left: 3%;

    position: relative;
    top: 7px;
}

.Order_Select
{
    float: left ; 
    margin-left: 5%;
    position: relative;
    top:15px ; 
}
.Statistic_Title
{
    clear: both;
}