
.InPage_Search
{
    width: 70%;
    height: 30px;
    padding-left: 1%;
    border: none;

}
.InPage_Search:focus,.InPage_Search:active
{
    border: none;
    /* 清除默认边框使用outline */
    outline: none;          
}
.InPage_SearchSubmit
{
    display: none;
}

.InPage_SearchBtn
{
    text-align: center;
    font-size: large;
    color: white;
    background-color: orange ;  
    height: 30px;
     line-height: 30px;             /* 实现垂直居中的方式：调整行高 */

    width: 20%;
    float: right;
}

.InPage_SearchForm
{
    display: block;
    width: 30%;
    margin-left: 35%;
    height: 30px;
    margin-top: 30px;
    padding-left: 1%;
    border: 3px solid black;
    border-radius: 20px;

    overflow: hidden;
}

.Page_Title
{
    font-size: 30px;
    font-family: Microsoft Yahei ,STXihei;

    letter-spacing: 3px;
    font-weight: bolder;

    text-align:left;
    padding-left: 5%;
}

.Page_Btn
{
    text-align: center;
    
    display: block;
    height: 30px;
    width: 10%;
    padding-top: 8px;

    background-color: rgba(224, 255, 255, 0.9);
    border: none;
    border-radius: 20px;

    overflow: hidden;
    cursor: pointer;
}

#Information_SideBar,.Page_SideBar
{
    position: absolute ;
    left: 0;
    top: 15%;
    /* background-color: green; */
    background-color: rgba(250, 250, 255, 1);
    margin-left: 5%;

    width: 10%;
    height: auto;
}

#Information_View,.Page_View
{
    position: absolute;
    left:20% ; 
    width: 80%;

}

.Page_SideBtn
{
    height: 50px ; 
    line-height: 50px;
    text-align: center ;
    margin-top: 10px;
    color: grey;

    /* border: 1px solid black ;  */
    cursor: pointer;

}

.EditableText
{
    padding-left: 10%;
    margin: 0;
    font-size: medium ; 
    font-family: Microsoft Yahei ,STXihei;
}
.EditableText_P
{
    margin: 0;
}
.EditableText_Edit
{
    font-size: medium;
    margin-block-start: calc(1em - 1px ) ;
    margin-block-end: calc(1em - 1px );
    font-family: Microsoft Yahei ,STXihei;
    border: 1px solid black;

    margin-top: 0;
    margin-bottom: 0;
}

.Information_Tag
{
    font-size: large ; 
    font-family: Microsoft Yahei ,STXihei;

    font-weight: bold;

    text-align:left;

}

#Information_UploadHead
{
    display: none;
}

#Information_HeadPortrait
{
    display: block;
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    /* background-color: rgba(0,0,0,0.8); */
    object-fit: contain;
}

#Information_Filter
{
    text-align: center ; 
    position: absolute;
    line-height: 80px ;
    display: block;
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.4);
    
}

#Information_UploadLabel
{
    display: block;
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;

}

.Page_Submit
{
    display: none;
}

.Information_InputForm
{
    width: 50%;
    height: 50px;
    margin-bottom: 30px;

    border-radius: 30px;
    padding-left: 5%;

    border: 1px solid grey;
}

.warning
{
    color: red;
    font-family: Microsoft Yahei ,STXihei;
    font-weight: bold;
}

.PageSearchBar
{
    width: 30%;
    height: 40px;
    margin-left: 35%;

    position: relative ;
    top: -50px;

    border: solid grey 1px;
    border-radius: 30px;
    overflow: hidden;
}

.PageSearchBar_Input
{
    padding-left: 5%;
    outline:none ;   
    border: none ;
    width: 75%;

    font-size: large;
    line-height: 40px;
}

.PageSearchBar_Submit
{

    background-color: aliceblue;
    float: right;
    width: 15%;
    height: 40px;

    line-height: 40px;
    text-align: center;

    font-weight: bolder;
    color: black;
}

.Page_RightTopBtn
{
    float: right;
    width: 10%;
    margin-right: 10%;

    position: relative;
    top:-100px;

    height: 50px;
    border: solid black 1px;
    border-radius: 5px;

    line-height: 50px;
    font-weight: bolder;
    text-align: center;

    background-color: aliceblue;
    cursor: pointer;
}

.FileInput
{
    display: none;
}