.Component_Block
{
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 80px ;

    width: 90%;
    height : 200px ; 

    background-color: rgba(230, 237, 238,0.4);
    border-radius: 30px ;
}
.Component_TextBlock
{
    width: 60% ;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px ;
    height: 50px;


    font-size: large ; 
    font-family: Microsoft Yahei ,STXihei;

    text-align: left;
    line-height: 50px ;
    padding-left: 5%;
    border-radius: 30px ;
    background-color: white;
}
.Component_TextEdit
{
    width: 60% ;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px ;
    height: 50px;

    font-size: large ; 
    font-family: Microsoft Yahei ,STXihei;

    text-align: left;
    line-height: 50px ;
    padding-left: 5%;
    border-radius: 30px ;
    background-color: white;

    border: 2px solid black;
}
.Component_TextEdit:focus
{
    border: 3px solid black;
}
.Component_Annotation
{
    font-size: small;
    font-family: Microsoft Yahei ,STXihei;
    color: grey; 
}
.Component_Pic
{
    float: left;
    display: block;
    width: 20%;
    height: 150px;
    
    margin-top: 25px;
    object-fit: contain;
}
/* Shared property end */
.Location_Edit
{
    float: right;
}
/* .locationBlock
{
    padding-top: 10px;
    height: 100px;
} */
.Edit_Btn
{
    float: right;
}
.Edit_Block
{
    padding-top: 10px;
    height: 100px;
}
.Edit_TextBlock
{
    overflow-x: hidden;
    overflow-y: auto;
}
/* EditableText and buttonEditText End */
.AfterService_ID
{
    float: right;

    margin-right: 3%;
}

.AfterService_Title
{
    float: right;

    display: block;
    width: 60%;
    text-align: right;
    padding-right: 10%;

    font-size: larger;
    font-weight: bold;
    font-family: Microsoft Yahei ,STXihei;

}

.AfterService_Reason , .AfterService_Status
{
    clear: right;
    float: right;

    margin-right: 3%;

}

.AfterService_Status
{
    color: red;
}

